//? the breakpoints :
@use '../utils/functions' as f;

$breakpoints: (
	'medium': f.em(700),
	'large': f.em(900),
	'xlarge': f.em(1440),
);

$breakpoints-down: (
	'small': f.em(699.98),
	'medium': f.em(899.98),
	'large': f.em(1339.98),
);

$icon-breakpoints: (
	'medium': f.em(425),
	'large': f.em(720),
);

$grid-breakpoints: (
	'small': f.em(720),
	'meduim': f.em(848),
	'large': f.em(1104),
	'xlarge': f.em(1360),
);
//? function for mediaquerys :
@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin icon-breakpoint($size) {
	@media (min-width: map-get($icon-breakpoints, $size)) {
		@content;
	}
}

@mixin grid-breakpoint($size) {
	@media (max-width: map-get($grid-breakpoints, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}
