//? The colors :
:root {
	--background-color: hsl(0, 0%, 9%);
	--text-color: hsl(0, 0%, 96%);
	--blue-color: hsl(240, 99%, 33%);
	--green-color: hsl(120, 100%, 16%);
	--purple-color: hsl(300, 100%, 25%);
	--oronge-color: hsl(39, 100%, 35%);
}
